.line{
	margin:3% 0;
	height:1px;
	background-color:black;
	width:100%;
}
#nulltopmargin{
	margin-top:0;
}
.center{
	display: block;
	margin: auto;
	text-align: center;
}
.outerbox{
	background-color: #eeeeee;
	width: 30%;
	margin: auto;
	padding:1%;
}
.inline{
	display:inline-block;
	margin-right:1%;
}
.combo{
	width:50%;
}
.fullwidth{
	width:100%;
}