extends layout

block content
	.container-fluid
		.row
			.col-xs-12
				h1 Experiments
			.col-xs-12
				input(type='text', placeholder="Create New Experiment")
			//- will be dropdown
			.col-xs-12
				input(type='text', placeholder="Search Experiments")
				input.btn.primary(type='Submit', value='Open')
			.col-xs-12
				input.btn.primary(type='Submit', value='View All Experiments')
	


	