extends layout

block content
  .container
    .row
      .col-xs-4
        img(src="Edit.png", width=160, height=160)
      .col-xs-4
        img(src="Arrow.png", width=200, height=80)
      .col-xs-4    
        img(src="Play.png", width=220, height=220)
    .row
      .col-xs-12.text-center
        input.btn.primary(type="submit", value="View Results")
    .row
      .col-xs-12.text-center
        img(src="Delete.png")
