doctype html
html
	head
		title= title
		link(rel="stylesheet" href="bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="style.css", type='text/css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="bootstrap/js/bootstrap.min.js")
		script(src="app.js", language="javascript", type="text/javascript")
		block addToHeader
	body
		.navbar.navbar-default
			.container-fluid
				.navbar-header
					a.navbar-brand(href='/')
						span.glyphicon.glyphicon-home
					a.navbar-brand(href='#')
						span(title="Back").glyphicon.glyphicon-chevron-left
					block experimentName

				.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							form.navbar-form.navbar-left(role='search')
								.form-group.search
									input.form-control(type='text', placeholder='Search' id='search')
									button.btn.btn-default(type='submit') 
										span.glyphicon.glyphicon-search(aria-hidden='true')
								div#search-dropdown.hide
									h6 Search by Patient 
									ul
										li
											a(href='index.html')
												| Search Result #1
											br
											span Description
									h6 Search by Date 
									ul
										li
											a(href='index.html')
												| Search Result #1
											br
											span Description

								
						li
							a(href='/results') New Experiment
						li
							a(href='/view_all') View All
						block editButton
					p.navbar-text.navbar-right Hello, 
							a.navbar-link(href="#") Brendan Ritter
		block content
