extends layout

block content
	.container-fluid
		.row
			.col-xs-12
				h1 Create New User
			.col-xs-12
				input(type='text', placeholder="Username")
			.col-xs-12
				input(type='text', placeholder="Email Address")
			.col-xs-12
				input(type='text', placeholder="Password")
			.col-xs-12
				input.btn.primary(type='Submit', value='Create User')