extends layout

block content
	.container
		.row
			.column-xs-8
				.panel.panel-default
					.panel-heading All Experiments
					table.table
						thead
							tr
								th zz
								th Date
								th Time
						tbody
							tr 
								td 
									a(href="/results") Experiment 1
								td December 1st
								td 12:00pm